@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>Chikito Express</h3>

<p>Chikito Express es una compañía multi-servicios fundada en el año 2013, 
    dedicada al envío de paquetes y documentos desde República Dominicana 
    hacia Haití y viceversa, el objetivo primordial de esta compañía es 
    poder ofrecer sus servicios bajo los más altos estándares de calidad 
    con la finalidad de cumplir con las expectativas del cliente.</p>
